# Empty CSS file for your own CSS
body{
  font-size: 100%;
}
.centering{
float:none;
margin:0 auto
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.text-heading{
color:#FFFFFF;
font-size: 2em;
font-family: 'Roboto', serif;
text-shadow:1px 1px 0 #444
}
.text-normal{
  color:#efefef;
  font-size: 1.2em;
  font-family: 'Roboto', serif;
  text-shadow:1px 1px 0 #444

}
.text-heading-underline{
  display:inline-block;
  border-bottom:2px solid #fff;
  padding-bottom:2px;
  color:#ffffff;
  font-size: 2em;
  font-family: 'Roboto',serif;
  text-shadow:2px 2px 0 #444

}
.margin-below{
  margin-bottom: 20px;
}
  .jumbotron {
      margin-bottom:0;
    }

    .carousel-indicators li {
  background-color: #004D40;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #880E4F;
}
a {
color: #fff !important;
}
.glyphicon {
	margin-right: 4px;
	vertical-align: middle;
  color: #212121;
}
.icon-git{
  color: #212121;
  margin-right: 30px;
}
.icon-google{
  color: #4285F4;
  margin-right: 30px;
  margin-left: 30px;
}
.icon-linkedin{
  color: #0077B5;
  margin-right: 30px;
}
