# Empty CSS file for your own CSS

.centering{
float:none;
margin:0 auto
}
.pics {
  width: 100%;
}
.carousel-inner{
  width:100%;
  max-height: 100% !important;
}
.text-heading{
color:#FFFFFF;
font-size: 2em;
font-family: 'Roboto', sans-serif;
}
.text-normal{

}
